

.classWithPad{
    margin: 5px;
    min-height: 300px;
    max-width: 350px;
    color: #e5eae8;

}


#bottomNavigation{
    bottom:10px;
    text-align:center;
    width:100%;
}

.buttons{
    color: #080808;

}

.classWithPad a{
    color: #ffffff;
}